.admin-area {
    background:rgba(255, 235, 205, 0.508);
    color: black;
    height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
  }
  .admin-menu {
    list-style: none;
    cursor: pointer;
    text-align: start;
  }
  .admin-menu:hover {
    color: blue;
  }