.admin-area {
    background:rgba(253, 240, 221, 0.371);
    color: black;
    height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
  }
  .admin-menu {
    list-style: none;
    cursor: pointer;
    text-align: start;
  }
  .admin-menu:hover {
    color: blue;
  }